body {
    font-family: 'Cutive Mono', monospace;
    margin: 0 auto;
    padding: 2rem;
    background-color:rgb(241, 200, 182);
}

h1 {
    text-align: center;
}

p {
    font-size: 1.2rem;
    line-height: 1.1rem;
}

h2 {
    margin-top: 1.5rem;
    text-align: center;
}

.back {
    border: solid white;
    border-width: 0 10px 0 0;
    display: inline-block;
    padding: 5px;
}

.rotate {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

section {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5rem;
    margin-top: 3rem;
    margin-left: 23rem;
}

section img {
    width: 100%;
    position: relative;
    z-index: 1;
}

section img:hover {
    margin: auto 0;
    width: 50rem;
}

#wrapper img {
    float: left;
    width: 23%;
    margin-top: 12rem;
    margin-left: 8rem;
}

#wrapper::after {
    content: "";
    clear: both;
    display: table;
}

#one:hover {
    box-shadow: 0px 0px 80px rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

#two:hover {
    box-shadow: 0px 0px 80px rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

#three:hover {
    box-shadow: 0px 0px 80px rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

#popupBoxOnePosition {
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%; 
    height: 120%;
    background-color: rgba(158, 158, 158, 0.7); 
    display: none;
    z-index: 2;
}

#popupBoxTwoPosition {
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%; 
    height: 120%;
    background-color: rgba(158, 158, 158, 0.7); 
    display: none;
    z-index: 2;
}

#popupBoxThreePosition {
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%; 
    height: 120%;
    background-color: rgba(158, 158, 158, 0.7); 
    display: none;
    z-index: 2;
}

.popupBoxWrapper {
    margin-top: 2.1rem;
    margin-left: 28rem;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.popupBoxContent {
    background-color:rgb(226, 163, 136);
    border-radius: 6pt; 
    width: 50rem;
    padding: 1rem 4rem 1rem 4rem;
    text-align: justify;
}

.icon {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
    transform: rotate(90deg);
}
  
.arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
}
  
.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #fff;
}
  
.arrow::after {
    top: -12px;
    transform: rotate(45deg);
}
  
.arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

.icon-back {
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
    transform: rotate(180deg);
}
  
.arrow-back {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
}
  
.arrow-back::after, .arrow-back::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #fff;
}
  
.arrow-back::after {
    top: -12px;
    transform: rotate(45deg);
}
  
.arrow-back::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

@media only screen and (max-width: 812px) {
    h1 {
        font-size: 1rem;
        margin-top: -0.2rem;
    }
    
    p {
        font-size: 0.65rem;
        line-height: 0.7rem;
        padding-top: 0.3rem;
    }
    
    h2 {
        margin: -0.7rem auto 0.6rem auto;
    }
    
    section {
        display: none;
    }

    #wrapper {
        margin-top: 1rem;
    }

    #wrapper img {
        width: 53%;
        margin-top: 4rem;
        margin-left: 4.6rem;
    }
    
    #popupBoxOnePosition {
        width: 100%; 
        height: 100%; 
    }
    
    #popupBoxTwoPosition {
        width: 100%; 
        height: 100%; 
    }
    
    #popupBoxThreePosition {
        width: 100%; 
        height: 100%; 
    }
    
    .popupBoxWrapper {
        margin: 1rem;
    }

    .popupBoxContent {
        width: 90%;
        padding: 1rem 1rem 0.001rem 1rem;
        text-align: left;
    }
    
    .icon {
        top: 85%;
        left: 58%;
    }
    
    .icon-back {
        top: 85%;
        left: 22%;
    }
}